USE [master]
GO
/****** Object:  Database [QuanLiCuaHang]    Script Date: 4/7/2026 9:08:08 PM ******/
CREATE DATABASE [QuanLiCuaHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLiCuaHang_Data', FILENAME = N'D:\LTWin\DoAn\QuanLiCuaHang.mdf' , SIZE = 10240KB , MAXSIZE = 102400KB , FILEGROWTH = 5120KB )
 LOG ON 
( NAME = N'QuanLiCuaHang_Log', FILENAME = N'D:\LTWin\DoAn\QuanLiCuaHang.ldf' , SIZE = 5120KB , MAXSIZE = 51200KB , FILEGROWTH = 5120KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLiCuaHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLiCuaHang]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 4/7/2026 9:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[maSP] [char](5) NOT NULL,
	[maDH] [char](10) NOT NULL,
	[soLuong] [int] NULL,
	[tongTien] [float] NULL,
	[maKH] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[maSP] ASC,
	[maDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 4/7/2026 9:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[maDH] [char](10) NOT NULL,
	[maNV] [char](5) NULL,
	[maKH] [char](10) NULL,
	[NgayLap] [date] NULL,
	[PTTT] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[maDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 4/7/2026 9:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKH] [char](10) NOT NULL,
	[HoTen] [nvarchar](max) NULL,
	[gioiTinh] [bit] NULL,
	[ngaySinh] [date] NULL,
	[diaChi] [nvarchar](max) NULL,
	[SDT] [nvarchar](15) NULL,
	[email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[maKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kho]    Script Date: 4/7/2026 9:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kho](
	[maSP] [char](5) NOT NULL,
	[soLuongSizeS] [int] NULL,
	[soLuongSizeM] [int] NULL,
	[soLuongSizeL] [int] NULL,
	[soLuongSizeXL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 4/7/2026 9:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[maKM] [char](20) NOT NULL,
	[maSP] [char](5) NULL,
	[ngayBatDau] [date] NULL,
	[ngayKetThuc] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[maKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSP]    Script Date: 4/7/2026 9:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSP](
	[maLoai] [char](5) NOT NULL,
	[tenLoai] [nvarchar](max) NULL,
	[moTa] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[maLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NV]    Script Date: 4/7/2026 9:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NV](
	[maNV] [char](5) NOT NULL,
	[HoTen] [nvarchar](max) NULL,
	[matKhau] [varchar](10) NULL,
	[gioiTinh] [bit] NULL,
	[ngaySinh] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 4/7/2026 9:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[maSP] [char](5) NOT NULL,
	[tenSP] [nvarchar](max) NULL,
	[giaBan] [float] NULL,
	[moTa] [nvarchar](max) NULL,
	[maLoai] [char](5) NULL,
	[maThuongHieu] [char](5) NULL,
	[hinhAnh] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[maSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuongHieu]    Script Date: 4/7/2026 9:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuongHieu](
	[maTH] [char](5) NOT NULL,
	[tenTH] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[maTH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[CTHD] ([maSP], [maDH], [soLuong], [tongTien], [maKH]) VALUES (N'SP001', N'DH01      ', 2, 500000, N'C001      ')
INSERT [dbo].[CTHD] ([maSP], [maDH], [soLuong], [tongTien], [maKH]) VALUES (N'SP002', N'DH02      ', 1, 800000, N'C002      ')
INSERT [dbo].[CTHD] ([maSP], [maDH], [soLuong], [tongTien], [maKH]) VALUES (N'SP003', N'DH03      ', 1, 1500000, N'C003      ')
GO
INSERT [dbo].[DonHang] ([maDH], [maNV], [maKH], [NgayLap], [PTTT]) VALUES (N'DH01      ', N'NV01 ', N'KH01      ', CAST(N'2026-04-01' AS Date), N'Tiền mặt')
INSERT [dbo].[DonHang] ([maDH], [maNV], [maKH], [NgayLap], [PTTT]) VALUES (N'DH02      ', N'NV02 ', N'KH02      ', CAST(N'2026-04-02' AS Date), N'Chuyển khoản')
INSERT [dbo].[DonHang] ([maDH], [maNV], [maKH], [NgayLap], [PTTT]) VALUES (N'DH03      ', N'NV03 ', N'KH03      ', CAST(N'2026-04-03' AS Date), N'Tiền mặt')
GO
INSERT [dbo].[KhachHang] ([maKH], [HoTen], [gioiTinh], [ngaySinh], [diaChi], [SDT], [email]) VALUES (N'C001      ', N'Nguyễn Văn An', 1, CAST(N'1990-03-15' AS Date), N'Quận 1, TP.HCM', N'0901234567', N'an.nguyen@example.com')
INSERT [dbo].[KhachHang] ([maKH], [HoTen], [gioiTinh], [ngaySinh], [diaChi], [SDT], [email]) VALUES (N'C002      ', N'Trần Thị Bình', 0, CAST(N'1988-07-20' AS Date), N'Quận Hoàn Kiếm, Hà Nội', N'0912345678', N'binh.tran@example.com')
INSERT [dbo].[KhachHang] ([maKH], [HoTen], [gioiTinh], [ngaySinh], [diaChi], [SDT], [email]) VALUES (N'C003      ', N'Lê Hoàng Cường', 1, CAST(N'1992-11-05' AS Date), N'Quận Hải Châu, Đà Nẵng', N'0923456789', N'cuong.le@example.com')
GO
INSERT [dbo].[Kho] ([maSP], [soLuongSizeS], [soLuongSizeM], [soLuongSizeL], [soLuongSizeXL]) VALUES (N'SP001', 50, 40, 60, 30)
INSERT [dbo].[Kho] ([maSP], [soLuongSizeS], [soLuongSizeM], [soLuongSizeL], [soLuongSizeXL]) VALUES (N'SP002', 20, 25, 30, 15)
INSERT [dbo].[Kho] ([maSP], [soLuongSizeS], [soLuongSizeM], [soLuongSizeL], [soLuongSizeXL]) VALUES (N'SP003', 10, 12, 15, 8)
GO
INSERT [dbo].[LoaiSP] ([maLoai], [tenLoai], [moTa]) VALUES (N'L001 ', N'Áo thun', N'Áo thun nam nữ')
INSERT [dbo].[LoaiSP] ([maLoai], [tenLoai], [moTa]) VALUES (N'L002 ', N'Quần jean', N'Quần jean thời trang')
INSERT [dbo].[LoaiSP] ([maLoai], [tenLoai], [moTa]) VALUES (N'L003 ', N'Giày sneaker', N'Giày thể thao')
GO
INSERT [dbo].[NV] ([maNV], [HoTen], [matKhau], [gioiTinh], [ngaySinh]) VALUES (N'NV01 ', N'Nguyễn Văn A', N'123456', 1, CAST(N'1990-01-01' AS Date))
INSERT [dbo].[NV] ([maNV], [HoTen], [matKhau], [gioiTinh], [ngaySinh]) VALUES (N'NV02 ', N'Trần Thị B', N'abcdef', 0, CAST(N'1992-05-12' AS Date))
INSERT [dbo].[NV] ([maNV], [HoTen], [matKhau], [gioiTinh], [ngaySinh]) VALUES (N'NV03 ', N'Lê Văn C', N'qwerty', 1, CAST(N'1988-07-23' AS Date))
GO
INSERT [dbo].[SanPham] ([maSP], [tenSP], [giaBan], [moTa], [maLoai], [maThuongHieu], [hinhAnh]) VALUES (N'SP001', N'Áo thun Nike', 250000, N'Áo thun thể thao', N'L001 ', N'TH01 ', N'A')
INSERT [dbo].[SanPham] ([maSP], [tenSP], [giaBan], [moTa], [maLoai], [maThuongHieu], [hinhAnh]) VALUES (N'SP002', N'Quần jean Levi''s', 800000, N'Quần jean nam', N'L002 ', N'TH04 ', N'B')
INSERT [dbo].[SanPham] ([maSP], [tenSP], [giaBan], [moTa], [maLoai], [maThuongHieu], [hinhAnh]) VALUES (N'SP003', N'Giày Adidas', 1500000, N'Giày sneaker', N'L003 ', N'TH02 ', N'C')
GO
INSERT [dbo].[ThuongHieu] ([maTH], [tenTH]) VALUES (N'TH01 ', N'Nike')
INSERT [dbo].[ThuongHieu] ([maTH], [tenTH]) VALUES (N'TH02 ', N'Adidas')
INSERT [dbo].[ThuongHieu] ([maTH], [tenTH]) VALUES (N'TH03 ', N'Puma')
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD FOREIGN KEY([maDH])
REFERENCES [dbo].[DonHang] ([maDH])
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD FOREIGN KEY([maSP])
REFERENCES [dbo].[SanPham] ([maSP])
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_MaKH] FOREIGN KEY([maKH])
REFERENCES [dbo].[KhachHang] ([maKH])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_MaKH]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([maKH])
REFERENCES [dbo].[KhachHang] ([maKH])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([maNV])
REFERENCES [dbo].[NV] ([maNV])
GO
ALTER TABLE [dbo].[Kho]  WITH CHECK ADD FOREIGN KEY([maSP])
REFERENCES [dbo].[SanPham] ([maSP])
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD FOREIGN KEY([maSP])
REFERENCES [dbo].[SanPham] ([maSP])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([maLoai])
REFERENCES [dbo].[LoaiSP] ([maLoai])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([maThuongHieu])
REFERENCES [dbo].[ThuongHieu] ([maTH])
GO
USE [master]
GO
